 .main-container{
 min-height:600px;
 }
 
a{
text-decoration:none;

} 
 
.def_h1{
font-size:20px;
width:100%;
font-weight:bold;
margin-bottom:0px;

}

.imgdiv{
height:200px;
overflow:hidden;
}

.imgdiv img{
width:100%;
}


.imgdiv_post{
height:400px;
overflow:hidden;
}

.imgdiv_post img{
width:100%;
}



.bg-gray{
background-color:#006600;
}



.developer-header img {
  width: 200px;
  height: 200px;
  padding: 4px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 6px -2px rgba(0,0,0,.1);
  box-shadow: 0 2px 6px -2px rgba(0,0,0,.1);
  -o-object-fit: contain;
  object-fit: contain;
}



/*
.DeveloperCard img{
max-height:150px!important;
}
 



*/



.blogLeft{
float:right;
width:100%;
margin-bottom:10px;
}

.blogLeft .rightdiv{
margin:5px;
float:right;
width:100px;
height:60px;
overflow:hidden;
background-color:#9999FF
}

.blogLeft .rightdiv img{
width:100px;
height:60px;
}


.leftdiv{
font-size:15px;
}

.UnitsInfo {
width:100%;
background-color:#006600

} 
.UnitsInfo span{
float:right;

width:50%;
text-align:center;
} 


.listing__attribute{
list-style:none;
margin:0px;
padding:0px;
background-color:#99CCCC;
}

.listing__attribute li{
float:right;
margin-right:5px;
margin-left:5px;
}




.project_post{
background-color:rgba(0,0,0,.1);
margin-top:20px;
margin-bottom:20px;
padding:15px;
}


footer {
  padding: 2em 0; }

.footer-07 {
  background: #121212; }
  .footer-07 a {
    color: #a3de83; }
  .footer-07 p {
    color: rgba(255, 255, 255, 0.3); }
  .footer-07 .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px; }
    .footer-07 .footer-heading .logo {
      color: #fff; }
  .footer-07 .menu {
    margin-bottom: 30px; }
    .footer-07 .menu a {
      color: rgba(255, 255, 255, 0.6);
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .footer-07 .ftco-footer-social li a {
    background: transparent;
    border: 1px solid #a3de83; }
	
	
.textarea_code{
width:100%;
direction:ltr;
min-height:600px;
}	
	


	

