

.crop_locationName_card{max-width: 120px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden;}
.embed-responsive::before{display:block;content:"";}
.embed-responsive iframe{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}
.embed-responsive-16by9::before{padding-top:56.25%;}
.youtube_play_but{cursor: pointer!important;}



/*a:link{text-decoration: none!important; color: var(--linkColor);}*/
/*a:visited{text-decoration: none!important; color: var(--linkColor);}*/
/*a:hover {text-decoration: none!important; color: var(--linkColor);}*/
/*a:active {text-decoration: none!important; color: var(--linkColor);}*/





.def_heading h1{
    font-size: 30px;
    color: var(--linkColor);
}
.def_heading p{
    font-size: 18px;
    line-height: 30px;
    color: var(--textColor);
}






.def_units_name{
    font-size: 20px;
    line-height: 30px;

}


@media (min-width: 991px) {
    .def_units_name{
        min-height: 60px;

    }

}
.def_h_rightSide{
    font-size: 20px;
    line-height: 30px;
}

.def_pb_100{
    padding-bottom: 100px;
}





