
.list_divider_2 .descMenu{
    padding-right: 15px;
}

.list_divider_2 .descMenu .text_span{
    font-size: 15px;
    font-weight: normal!important;
}
.list_divider_2 .descMenu .text_link{
    font-family: 'Poppins', sans-serif!important;
    font-size:13px;
}
input[type=text]:focus {
    outline: none;
    border: 1px solid #ddd!important;
}

.header_search {
    position: relative;
}

.header_search input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding:8px 15px 8px 40px ;
    font-size: 15px;
    width: 220px;
}

.header_search button[type="submit"] {
    position: absolute;
    left: 10px;
    top: 6px;
    border: none;
    margin: 0;
    color: #aaa;
    background: none;
}



.WebFooter .section-space--sm{
    padding-top: 60px;
    padding-bottom: 20px;

}


.footer_copy_right .border-top{
    border-color: rgba(255,255,255,.2)!important;

}
.sticky-navbar {
    display:flex;
    position:fixed;
    left:0;
    right:0;
    top:100%;
    width:100%;
    background-color:#fff;
    border-top:1px solid #e7e7e7;
    opacity:0;
    visibility:hidden;
    transition:all .25s;
    z-index:99999999!important;
}

.sticky-navbar.fixed {
    opacity:1;
    visibility:visible;
    transform:translateY(-100%);
    z-index:99999999!important
}

.sticky-navbar .sticky-info {
    flex:0 0 25%;
    max-width:25%;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;

}
.sticky_a {
    margin:auto!important;
    width:75%;
    max-width:60px ;
    padding:6px;
}

.sticky-navbar .sticky-info a {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#222529;
    font-size:13px!important;
    font-family: 'Tajawal', Helvetica, sans-serif;


    font-weight: normal!important;
}

.sticky_active {
    background:#353aec;
    border-radius:5px;
    color:#fff!important
}

.sticky-info .mat-icon{
    font-weight: normal!important;

}

.sticky-info .mat-icon{
    font-weight: normal!important;

}

.sticky_call{
    display:flex;
    position:fixed;
    left:0;
    right:0;
    top:100%;
    width:100%;
    background-color:#fff;
    border-top:1px solid #e7e7e7;
    opacity:0;
    visibility:hidden;
    transition:all .25s;
    z-index:99999999!important;
}

.sticky_call.fixed {
    opacity:1;
    visibility:visible;
    transform:translateY(-100%);
    z-index:99999999!important
}


.sticky_call .sticky_info_call {
    flex:0 0 50%;
    max-width:50%;
    padding-top:15px;
    padding-bottom:20px;
    text-align: center;

}


.sticky_a_call{
    display: inline-block;
    background: red;
    padding:6px 20px;
    width: 80%!important;
    font-size: 21px;
    /*font-weight: bold;*/
    color: #FFFFFF;
    border-radius: 5px;
    height: 45px !important;
    line-height: 35px;

}

.sticky_a_whatsapp{
    background-color: rgb(64, 184, 85);
}

.sticky_a_phone{
    background-color: rgb(212, 219, 226);
    color: rgba(30, 65, 100,1);


}




/*

.iconDiv {
    float:left;
    width:25%;
    text-align:center;
    background:#0f5132
}

.iconDiv a {
    width:80%!important;
    background:#2c0b0e
}

.iconDiv a i {
    width:100%
}





.sticky-navbar .sticky-info:not(:last-child) {
    border-right:0 solid #e7e7e7
}



.sticky-navbar .sticky-info i {
    font-size:27px;
    font-weight:400
}







*/
