body{font-family: 'Poppins', sans-serif!important; font-size:18px;}
.FS_16{font-size: 15px!important;}
.FS_17{font-size: 16px!important;}
.FS_18{font-size: 17px!important;}
.FS_19{font-size: 18px!important;}
.FS_20{font-size: 19px!important;}
.FS_21{font-size: 20px!important;}
.FS_22{font-size: 21px!important;}
.FS_23{font-size: 22px!important;}
.FS_24{font-size: 23px!important;}

.lang_menu{position: absolute;right:15px!important;}
.breadcrumb-item + .breadcrumb-item::before{font-size: 12px!important; float:left;content:"\f101";padding-right:0!important;margin-left:0!important;padding-left:3px;margin-right:3px!important}
.breadcrumb{font-size:15px!important;list-style:none;line-height:30px;margin-top:10px!important}

.ButDivCon .show_text_but,.ButDivCon .hide_text_but{float:right}
.ButDivCon .show-more{float:right}

.h1_def{font-size: 30px!important;}
.def_h2_out{font-size:22px!important; font-weight: normal!important; }
.def_h2_blocks{font-size:25px;}

.blog_li h2{font-size: 20px;}
.blog_li p{font-size: 16px;}
.blog_li .read_more a{float: right;font-size: 16px!important;}
.blog_category_list a{font-size: 16px!important;}

.BlogView h1{font-size: 24px;}
.property-card__content .distance_name a{font-size: 16px!important;}
.property-card__content h3{font-size:20px;}
.units_li li{border-left:none;border-right: 1px solid rgba(0,0,0,.1);}
.units_li li:last-child{border-left:none;border-right:none;}
.amenity_list_li{ font-size: 16px;}


.property_type_name{
    font-size:19px!important;
}
.property-card__content .distance_name a{
    font-size:17px!important;
}







.listing_card_content .project_type{
    font-size: 14px!important;
    color: #fff;
}

.listing_card_content .project_price{
    font-size: 17px!important;
}


.listing_card_content .project_name{
    font-size: 20px!important;
    font-weight:normal!important;
    line-height: 30px;
    width: 100%!important;
    margin-bottom: 20px!important;
    min-height: 50px;
}
.listing_card_content .project_locationName{
    font-size: 14px;
    font-weight: normal!important;
    display:inline-block;
    width:130px!important;
    text-overflow:ellipsis;white-space:nowrap;overflow:hidden
}




/*


.developer_col h2{font-size:16px}
.developer_col .icons_div span{text-align:left;font-size:14px}
.ButDivCon .show_text_but,.ButDivCon .hide_text_but{float:right}

.def_heading h1{
    font-size: 30px;
    color: var(--linkColor);
}
.def_heading p{
    font-size: 16px;
    line-height: 30px;
    color: var(--textColor);
}


.BlogList-col9 .read_more a{
    float: right;
    font-size: 14px!important;
}


@media (min-width: 1200px) {
    .property-card--row .dotted-divider li+li {
        -webkit-padding-start: 0.75rem;
        padding-inline-start: 0.75rem;
        -webkit-margin-start: 0.75rem;
        margin-inline-start: 0.75rem;
    }
}
@media (min-width: 1400px) {
    .property-card--row .dotted-divider li+li {
        -webkit-padding-start: 1.25rem;
        padding-inline-start: 1.25rem;
        -webkit-margin-start: 1.25rem;
        margin-inline-start: 1.25rem;
    }
}



.dotted-divider li+li {
    -webkit-padding-start: 0.75rem;
    padding-inline-start: 0.75rem;
    -webkit-margin-start: 0.75rem;
    margin-inline-start: 0.75rem;
    position: relative;
    isolation: isolate;
}
.dotted-divider li+li ::before {
    content: "";
    width: 1px;
    position: absolute;
    inset-inline-start: 0;
    inset-block: 0;
    background-image: linear-gradient(hsl(var(--neutral-200)) 33%, transparent 0%);
    background-position: right;
    background-size: 1px 0.5rem;
    background-repeat: repeat-y;
}
@media (min-width: 375px) {
    .dotted-divider li+li {
        -webkit-padding-start: 0.75rem;
        padding-inline-start: 0.75rem;
        -webkit-margin-start: 1rem;
        margin-inline-start: 1rem;
    }
}
@media (min-width: 410px) {
    .dotted-divider li+li {
        -webkit-padding-start: 1.5rem;
        padding-inline-start: 1.5rem;
        -webkit-margin-start: 1.5rem;
        margin-inline-start: 1.5rem;
    }
}
@media (min-width: 768px) {
    .dotted-divider li+li {
        -webkit-padding-start: 1rem;
        padding-inline-start: 1rem;
        -webkit-margin-start: 1rem;
        margin-inline-start: 1rem;
    }
}
@media (min-width: 992px) {
    .dotted-divider li+li {
        -webkit-padding-start: 1.75rem;
        padding-inline-start: 1.75rem;
        -webkit-margin-start: 1.75rem;
        margin-inline-start: 1.75rem;
    }
}
@media (min-width: 1200px) {
    .dotted-divider li+li {
        -webkit-padding-start: 1rem;
        padding-inline-start: 1rem;
        -webkit-margin-start: 1rem;
        margin-inline-start: 1rem;
    }
}
@media (min-width: 1400px) {
    .dotted-divider li+li {
        -webkit-padding-start: 1.65rem;
        padding-inline-start: 1.65rem;
        -webkit-margin-start: 1.65rem;
        margin-inline-start: 1.65rem;
    }
}
*/





