.DevelopersList{

}
.developer_img_div{display:inline-block;width:250px;height:250px;margin-bottom:20px}
.developer_img_div img{width:100%;height:100%;border-radius:50%;-o-object-fit:cover;object-fit:cover;transition:all .3s ease;box-shadow:rgba(99,99,99,0.2) 1px 2px 8px 1px;border:1px solid rgba(0,0,0,.1)}
.developer_col:hover .developer_list_img{filter:grayscale(100%)}
.developer_col h2{font-size:22px;color:var(--linkColor);margin-bottom:1px;max-width:80%}

@media (max-width: 768px) {
    /*.developer_img_div{display:inline-block;width:150px;height:150px}*/
    /*.developer_col h2{font-size:16px;font-weight:700;max-width:70%}*/
}

.developer_col .icons_div{float:right;padding-top:5px;width:100%}
.developer_col .icons_div .icon{float:right;display:inline-block;width:100%;text-align:center;margin-bottom:5px}

/*.developer_col .icons_div span{display:inline-block;text-align:right;font-size:17px;min-width:100px;color:var(--textColor)}*/
.developer_col .icons_div span{color:var(--textColor)}


.developer_col .icons_div .icon i{
    width:30px;
    color:var(--textColor);
    font-size:15px;
}


.developer_col .icons_div .icon .print_text{
    font-size: 18px;

}
.developer_col .icons_div .icon .print_num{
    font-size:12px!important;
    font-weight: bold;

}


.DeveloperView{}
.DeveloperView .Des{}

.DeveloperSide h3{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0!important;
    font-weight: normal;
    color: var(--h1Color);
}

.RightSide_Blog{
    border-bottom: 1px dotted rgba(0,0,0,.3);
    padding-bottom: 10px;

}
.RightSide_Blog .h1_name{
    font-size: 19px;
    font-weight: normal!important;
    line-height: 25px;
    color: var(--h1Color);
}
.RightSide_Blog .img_div{
    overflow: hidden;
}
.RightSide_Blog .published_at{
    font-size: 17px;
    margin-top: 5px;
    color: var(--textColor);
}

.ListProjectUnitsCard{
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
}
.ListProjectUnitsCard .nav {
    padding-right: 0!important;
}
