:root {
    --linkColor: #3738ea;
    --h1Color: #3738ea;
    --linkHover: #000000;
    --textColor: #808080;
}
.stop_view{display:none}
.hidden-xs{display:none}
@media (max-width: 600px) {
    .mobile_stop{display:none!important}
    .page-item .w-10{width:2rem}
    .page-item .h-10{height:2rem}

}
.crop_line_1{width:100%;display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.crop_line_2{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.crop_line_3{-webkit-line-clamp:3;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.crop_line_4{-webkit-line-clamp:4;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}

.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden;}
.embed-responsive::before{display:block;content:"";}
.embed-responsive iframe{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}
.embed-responsive-16by9::before{padding-top:56.25%;}
.youtube_play_but{cursor: pointer!important;}


a{text-decoration: none!important; color: var(--linkColor);}
/*a:link{text-decoration: none!important; color: var(--linkColor);}*/
/*a:visited{text-decoration: none!important; color: var(--linkColor);}*/
/*a:hover {text-decoration: none!important; color: var(--linkColor);}*/
/*a:active {text-decoration: none!important; color: var(--linkColor);}*/

.breadcrumb{display:flex;flex-wrap:wrap;padding:1px!important;font-size:15px!important;list-style:none;line-height:30px;margin-top:10px!important}
.breadcrumb-item a{color:var(--textColor)!important}
.breadcrumb-item a:hover{color:var(--linkColor)!important}
.breadcrumb-item.active{color:var(--textColor)!important}
.breadcrumb-item{display:inline-block;text-overflow:ellipsis;white-space:nowrap!important;overflow:hidden!important;line-height:30px}
@media (max-width: 700px) {
    /*.breadcrumb-item{max-width:220px;}*/
}
.breadcrumb i{font-size:13px;line-height:13px}
.breadcrumb-item + .breadcrumb-item::before{float:right;content:"\f100";font-family:"FontAwesome";vertical-align:middle;color:var(--textColor)!important;padding-right:3px;margin-left:3px!important}

#wrapped_text{width:100%;height:235px;overflow:hidden;margin-bottom:10px}
.description-content{ margin-top: 10px;}
.ButDivCon{display:inline-block;width:100%}
.ButDivCon .show_text_but,.ButDivCon .hide_text_but{float:left}
.ButDivCon .show-more{float:left}
div.hide_text_but{display:none}


.def_heading h1{
    font-size: 30px;
    color: var(--linkColor);
}
.def_heading p{
    font-size: 18px;
    line-height: 30px;
    color: var(--textColor);
}


.def_h2_blocks{
    font-size:25px;
    margin-bottom: 15px;
}
.def_h2_out{
    font-size:25px;
    margin-bottom: 15px;
}
.best_compounds_in{
    font-size:25px;

}

.def_units_name{
    font-size: 20px;
    line-height: 30px;
}





