.header-top{padding-top:20px;padding-bottom:20px}
.top_header_logo{max-width:230px}
.mobile_logo{max-width:230px}
.footer_logo{max-width:230px}
@media (max-width: 600px) {
    .mobile_footer_p{padding-right:30px!important;padding-left:30px!important}
    .mobile_footer_p_bottom{padding-bottom:80px}
}

.FooterMenu{display:none}
@media (max-width: 768px) {
    .FooterMenu{display:inline-block;width:100%;min-height:50px;background:#fff;position:fixed;left:0;bottom:0;padding:15px 10px;box-shadow:rgba(0,0,0,0.35) 0 5px 15px;z-index:1.0E+19!important}
}
.iconDiv{float:left;width:25%;text-align:center;background:#0f5132}
.iconDiv a{width:80%!important;background:#2c0b0e}
.iconDiv a i{width:100%}
.sticky-navbar.fixed{opacity:1;visibility:visible;transform:translateY(-100%)}
.sticky-navbar{display:flex;position:fixed;left:0;right:0;top:100%;width:100%;background-color:#fff;border-top:1px solid #e7e7e7;opacity:0;visibility:hidden;transition:all .25s;z-index:9.9E+16}
.sticky-navbar .sticky-info:not(:last-child){border-right:0 solid #e7e7e7}
.sticky-navbar .sticky-info{flex:0 0 25%;max-width:25%;padding-top:10px;padding-bottom:10px}
.sticky-navbar .sticky-info i{font-size:27px;font-weight:400}
.sticky-navbar .sticky-info a{display:flex;flex-direction:column;justify-content:center;align-items:center;color:#222529;font-size:14px}
.sticky_a{margin:auto!important;width:70%;padding:7px}
.active_footer{background:#363aed;border-radius:5px;color:#fff!important}


.developer_col{

}
.developer_col h2{font-size:17px;font-weight:700;color:var(--linkColor);margin-bottom:1px;max-width:80%}
.developer_img_div{display:inline-block;width:250px;height:250px;margin-bottom:20px}
@media (max-width: 768px) {
    .developer_img_div{display:inline-block;width:150px;height:150px}
    .developer_col h2{font-size:14px;font-weight:700;max-width:70%}
}
.developer_col:hover .developer_list_img{filter:grayscale(100%)}
.developer_list_img{width:100%;height:100%;border-radius:50%;-o-object-fit:cover;object-fit:cover;transition:all .3s ease;box-shadow:rgba(99,99,99,0.2) 1px 2px 8px 1px;border:1px solid rgba(0,0,0,.1)}
.developer_col .icons_div{float:right;padding-top:5px;width:100%}
.developer_col .icons_div .icon{float:right;display:inline-block;width:100%;text-align:center;margin-bottom:5px}
.developer_col .icons_div .icon i{width:35px;color:var(--textColor)}
.developer_col .icons_div span{display:inline-block;text-align:right;font-size:15px;min-width:100px;font-weight:700;color:var(--textColor)}


.BlogList-col9{
    padding-top: 1px;
    padding-bottom: 50px;
    margin-top: 0px;
}

.BlogList-col9 h1{
    font-size:25px;
    margin-bottom: 20px;
    color: var(--linkColor);
}

.BlogList-col9 h2{
    font-size: 20px;

}
.BlogList-col9 h2 a{

    color: var(--linkColor);
}

.BlogList-col9 .read_more{
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}

.BlogList-col9 .read_more a{
    float: left;
    font-size: 16px!important;

}

.blogas_list .blog_photo_div{
    display: inline-block;
    width: 100%;

}

.blogas_list .blog_img{
    width:100%;
    height:100%;
    max-height: 380px;
    -o-object-fit:cover;
    object-fit:cover;
}



.blogas_row .blog_photo_div{
    display: inline-block;
    width: 100%;


}

.blogas_row .blog_img{
    width:100%;

    height: 240px;
    -o-object-fit:cover;
    object-fit:cover;
}


.blog_category_list{

    padding: 15px;
}







.iconColor{
    color: var(--textColor);
}
.BlogView{
    padding-top: 1px;
    padding-bottom: 50px;
    margin-top: 0;
}

.BlogView h1{
    font-size: 22px;
    line-height: 35px;

}

.BlogView .blog_photo_div{
    display: inline-block;
    width: 100%;

}

.BlogView .blog_img{
    width:100%;
    height:100%;
    max-height: 380px;
    -o-object-fit:cover;
    object-fit:cover;
}
@media (max-width: 768px) {
    .BlogView .blog_img{
        max-height: 240px;
    }

    .BlogView h1{
        font-size: 18px;
        line-height: 30px;
    }
}




.unit_card_img{
   height: 265px!important;
   overflow: hidden;
}

.unit_card_img img{
    width:100%;
    height: 265px!important;
    -o-object-fit:cover;
    object-fit:cover;
}

.property-card__body{

    padding-top: 15px;
}


.project_card_name{
    display: inline-block;
    width: 100%!important;
    text-overflow: ellipsis;
    white-space: nowrap!important;
    overflow: hidden!important;
    font-size: 22px;
    margin-bottom: 22px;
}

.listing_card_relatedProjects .listing-card__img{
    height: 270px;



}

.listing_card_relatedProjects .listing-card__img img{
    width:100%;
    height: 100%!important;
    -o-object-fit:cover;
    object-fit:cover;



}


.blogh-slider-container {
    position: relative;
}
.blogh-slider__pagination {
    bottom: 0px !important;
}
.blogh-slider__pagination .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
    margin-right: 3px;
    margin-left: 3px;
    background-color: hsl(var(--neutral-40));
}
.blogh-slider__pagination .swiper-pagination-bullet-active {
    width: 1.75rem;
    height: 0.75rem;
    border-radius: 1rem;
    background-color: hsl(var(--primary-300));
}

.NewsSliderImg{
    height: 265px!important;
    overflow: hidden;
}

.NewsSliderImg img{
    width:100%;
    height: 100%;
    -o-object-fit:cover;
    object-fit:cover;
}

.NewsSlider_h h3{
    font-size: 18px;
    line-height: 30px;
    height: 60px;
}

.NewsSlider_h p{
    font-size: 16px;
}

.NewsSliderDiv{
    padding-left: 15px;
    padding-right: 15px;
}





.project-other-project-container {
    position: relative;
}
.project-other-project__pagination {
    bottom: -40px !important;
}
.project-other-project__pagination .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
    margin-right: 3px;
    margin-left: 3px;
    background-color: hsl(var(--neutral-40));
}
.project-other-project__pagination .swiper-pagination-bullet-active {
    width: 1.75rem;
    height: 0.75rem;
    border-radius: 1rem;
    background-color: hsl(var(--primary-300));
}

.other_project_card{
    height: 480px!important;
    overflow: hidden;
}

.other_project_card img{
    width:100%;
    height: 100%;
    -o-object-fit:cover;
    object-fit:cover;
}

.location_slider_img{
    height: 480px!important;
    overflow: hidden;
}

.location_slider_img img{
    width:100%;
    height: 100%;
    -o-object-fit:cover;
    object-fit:cover;
}





.team-slider__pagination {
    bottom: -40px !important;
}
.team-slider__pagination .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
    margin-right: 3px;
    margin-left: 3px;
    background-color: hsl(var(--neutral-40));
}
.team-slider__pagination .swiper-pagination-bullet-active {
    width: 1.75rem;
    height: 0.75rem;
    border-radius: 1rem;
    background-color: hsl(var(--primary-300));
}

.home_developer_name{
    font-size: 18px;
    text-align: center;
}

.dev_slider_card{


}
