




.listing_card_relatedProjects .listing-card__img{
    height: 270px;
}
.listing_card_relatedProjects .listing-card__img img{
    width:100%;
    height: 100%!important;
    -o-object-fit:cover;
    object-fit:cover;
}









.other_project_card{
    height: 480px!important;
    overflow: hidden;
}
.other_project_card img{
    width:100%;
    height: 100%;
    -o-object-fit:cover;
    object-fit:cover;
}

.Home_featured_projects_card{
    height: 560px!important;
    overflow: hidden;
}
.Home_featured_projects_card img{
    width:100%;
    height: 100%;
    -o-object-fit:cover;
    object-fit:cover;
}

.location_slider_img{
    height: 480px!important;
    overflow: hidden;
}
.location_slider_img img{
    width:100%;
    height: 100%;
    -o-object-fit:cover;
    object-fit:cover;
}
.team-slider__pagination {
    bottom: -40px !important;
}
.team-slider__pagination .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
    margin-right: 3px;
    margin-left: 3px;
    background-color: hsl(var(--neutral-40));
}
.team-slider__pagination .swiper-pagination-bullet-active {
    width: 1.75rem;
    height: 0.75rem;
    border-radius: 1rem;
    background-color: hsl(var(--primary-300));
}
.home_developer_name{
    font-size: 18px;
    text-align: center;
}
.dev_slider_card{
}
.location-slider__card {
    --card-overlay: var(--neutral-900);
    position: relative;
    isolation: isolate;
    border-radius: 1rem;
    overflow: hidden;
}
.location-slider__card:hover {
    --card-overlay: var(--primary-500);
}
.location-slider__card:hover .location-slider__play {
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
}
.location-slider__img {
    position: relative;
    isolation: isolate;
}
.location-slider__img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, hsl(var(--card-overlay)/0) 0%, hsl(var(--card-overlay)/0.25) 46.59%, hsl(var(--card-overlay)/0.9) 76.17%, hsl(var(--card-overlay)) 100%);
}
.location-slider__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 1.5rem;
    position: absolute;
    inset: 0;
}
.location-slider__play {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.location-slider-container {
    position: relative;
}
.location-slider__pagination {
    bottom: -40px !important;
}
.location-slider__pagination .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 1;
    margin-right: 3px;
    margin-left: 3px;
    background-color: hsl(var(--neutral-40));
}
.location-slider__pagination .swiper-pagination-bullet-active {
    width: 1.75rem;
    height: 0.75rem;
    border-radius: 1rem;
    background-color: hsl(var(--primary-300));
}





.projectCardInfo {
    font-size: 15px;
}
.projectCardInfo .price {
    font-size: 25px;
    font-weight: bold;
    color: hsl(var(--tertiary-300));
}
.accordion-button {
}
.faq_container .accordion-button {
    font-weight: 600;
    font-size: 16px!important;
    line-height: 30px;
    padding-right: 25px;
    padding-left: 25px;
}
.project_def_h1{
    font-size: 25px;
    line-height: 40px;
}
.property-gallery-slider__btn {
    top:45%!important;
}
.Pro_Slider_Old{
    text-align: center;
    height: 360px;
    overflow: hidden;
}
.Pro_Slider_Old img{
    width: 100%;
    height: auto;
    min-height: 100%;
}
@media (max-width:1400px) {
    .Pro_Slider_Old{
        height: 270px;
    }
}



