.header-top{padding-top:20px;padding-bottom:20px}
.top_header_logo{max-width:230px}
.mobile_logo{max-width:230px}
.footer_logo{max-width:230px}
@media (max-width: 600px) {
    .mobile_footer_p{padding-right:30px!important;padding-left:30px!important}
    .mobile_footer_p_bottom{padding-bottom:80px}
}

.FooterMenu{display:none}
@media (max-width: 768px) {
    .FooterMenu{display:inline-block;width:100%;min-height:50px;background:#fff;position:fixed;left:0;bottom:0;padding:15px 10px;box-shadow:rgba(0,0,0,0.35) 0 5px 15px;z-index:1.0E+19!important}
}



